@import url('reset.css');
#wrap{
    width: 540px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
ul{
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    background: #eee;
    visibility: hidden;

}
ul li{
    width: 60px;
    height: 60px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #fff;
    text-align: center;
    padding: 13px 0 ;
    border-radius: 5px;
    white-space: wrap;
}
#select{
    background: rgb(209, 238, 47);
    visibility: visible;
}
#select li:hover{
    background: rgb(74, 71, 240);
    color: #fff;
    cursor: pointer;
}
#select li:nth-of-type(5){
    background: #333;
    color: #fff;
}
p{
    text-align: center;
}
button{
    display: block;
    margin: 15px auto 0;
    width: 100px;
    height: 45px;
    cursor: pointer;
}
.option{
    visibility: visible;

}